/*style.css*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #00aeff;
    flex-direction: column;
    margin: 0;
    background-image: url('bgimage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.main {
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.858);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

h1 {
    color: #00aeff;
}
h2 {
    color:  #00aeff;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

    .header {
  padding: 80px; /* some padding */
  text-align: center; /* center the text */
  border-radius: 50px;
  background: #000000; /* green background */
  color: white; /* white text color */
}
/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 40px;
}
.navbar {
  overflow: hidden; /* Hide overflow */
  border-radius: 50px;
  background-color: #333; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}
label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #00f2ff;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #ff0000;
    width: 100%;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}